/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --main-font: IBM Plex mono;
  --header-color: #db00ff;
  --main-color: #ff0070;
  --shadow-color: #ff0070;
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --title-block-color: #000028;
  --title-text-block: #ff0070;
  --button-hover-outline: rgba(255, 0, 112, 0.4);
  --decorated-zone: #ff0070;
  --reset-column: grid-column: initial;
}