/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-light.png);
  --background-color: rgba(255, 241, 247, 1);
  --main-font: IBM Plex mono;
  --header-color: #ffc2e6;
  --main-color: #ff8dcb;
  --shadow-color: #ff8dcb;
  --menu-color: #353430;
  --text-color: #353430;
  --title-block-color: #353430;
  --title-text-block: #353430;
  --button-hover-outline: #353430;
  --decorated-zone: #353430;
}